section{
	overflow: hidden;
	position: relative;
}

.container{
	@include container;
}

.row{
	@include row;
	@include clearfix;
	clear: both;
}

.center{
	text-align: center;
}

.primary{
	@include third(2);
}

.sidebar{
	@include third(1);
}

// temp
.one-third{
	@include third(1);
}
.two-thirds{
	@include third(2);
}
.four.columns{
	@include columns(4);
}
.eight.columns{
	@include columns(8);
}
