/* Custom mixins & Placeholders */

// border-radius
@mixin border-radius($radius) {
    border-radius: $radius;
    background-clip: padding-box; //stops bg color from leaking outside the border
}

// Text truncate
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*
Usage
.text-truncate {
	@include text-truncate;
}
*/

// Buttons
@mixin button($padding : null, $font-size : null, $color : null, $bg : null){
	position: relative;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: $bg; /* layer fill content */

	box-shadow: 0 2px 2px rgba(0,0,0,.13), inset 0 -2px 1px rgba(0,0,0,.13); /* drop shadow and inner shadow */
	background-image: linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(255,255,255,.09) 100%); /* gradient overlay */

	text-shadow: 1px 2px 2px rgba(0,0,0,.2);
	display: inline-block;
	font-family: $header-font, $body-font;
	font-weight: 600;
	text-align: center;

	padding: $padding;
	color: $color;
	font-size: $font-size;
	line-height: #{$font-size}/#{.8em};
}

%fade-divider{
	position: absolute;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	@include linear-gradient( left, rgb(255, 255, 255), #f0f0f0, rgb(255, 255, 255) );
}

@mixin sticky-footer(
	$height,
	$main-selector:   unquote('#main'),
	$footer-selector: unquote('#footer'),
	$push-selector:   unquote('#push-footer')
) {
	html,
	body {
		height: 100%;
	}
	body > #{$main-selector} {
		height:        auto !important;
		height:        100%;
		margin-bottom: -$height;
		min-height:    100%;
		#{$push-selector} {
			clear:  both;
			height: $height;
		}
	}
	#{$footer-selector} {
		clear:    both;
		height:   $height;
		position: relative;
	}
}

// A CSS-based sticky footer.
//
// Sticky footer markup:
//
//    <body>
//      <div id="main">
//        <header>...</header>
//        <article>...</article>
//        <div id="push-footer"></div>
//      </div>
//      <div id="footer">
//        <footer>...</footer>
//      </div>
//    </body>
//
// Example usage:
//
//    @include sticky-footer(100px)
//    @include sticky-footer(100px, "#wrapper")