// filter required styles
.mixItUp .mix{
    display: none;
}

// custom theme styles
.mixItUp {
    overflow: hidden;
    font-size: 0;
    text-align: justify;
    &.list {
        .mix {
            width: 100%;
        }
    }
    .mix {
        display: none; // need
        @extend %ib;
        margin-bottom: 2%;
    }
    .gap {
        @extend %ib;
        width: 32%;
    }
    &:after {
        content: '';
        width: 100%;
        @extend %ib;
    }
}

.mix-filter {
    padding: 2% 0 0;
    li {
        @extend %ib;
        @include border-radius(25px);
        margin-right: 2%;
        padding: .25% 1%;
        @include font-size(12);
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        &:hover,
        &.active {
            background: $theme-color;
            color: white;
        }
    }
}