//To move navigation buttons outside use these settings:
@mixin reset-pos() {
	position: relative;
	bottom: 0;
	left: 0;
}
.hero-slider {

    color: white;
    
	li {
		margin: 0;
	}

 	&.owl-theme {
	 	
	 	.owl-controls {
			
			margin-top: 0;

			.owl-buttons {

				div {
					position: absolute;
				}
				 
				.owl-prev {
					left: -0px;
					top: 50%;
					transform: translatey(-50%);
				}
				 
				.owl-next {
					right: -0px;
					top: 50%;
					transform: translatey(-50%);
				}

				@include breakpoint(small) {
					display: none;
				}

			}

			.owl-pagination {
				text-align: left;
				bottom: 20px;
				left: 20px;
				position: absolute;
				.project & {
					bottom: 30px;
					left: 50%;
					transform: translateX(-50%);
				}
				@include breakpoint(small) {
					@include reset-pos();
				}
	
				.owl-page {
					span {
						width: 10px;
						height: 10px;
						background: none;
						opacity: 1;
						border: 1px solid white;
						margin: 5px 4px;
						@include breakpoint(small) {
							border-color: black;
						}
					}
					&.active span {
						background: white;
						@include breakpoint(small) {
							background: black;
						}
					}
				}
			}


		}


	}

}